<div class="container text-center">
  <tr *ngFor="let data of allCustomersData" class="griddata">
    <td>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card_header">
            <h6>{{data.name}}<i class="pi pi-external-link" style="font-size: 1rem"></i></h6>
          </div>
          <div class="card_content">
            <div class="image"><img src="assets\michael-dam.jpg"></div> 
          </div>
          <h6>{{data.address}}</h6>
          <div><button class="btn btn-primary">View Orders</button></div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card_header">
            <h6>{{data.name}}<i class="pi pi-external-link" style="font-size: 1rem"></i></h6>
          </div>
          <div class="card_content">
            <div class="image"><img src="assets\michael-dam.jpg"></div>  
          </div>
          <h6>{{data.address}}</h6>
          <div><button class="btn btn-primary">View Orders</button></div> 
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card_header">
            <h6>{{data.name}}<i class="pi pi-external-link" style="font-size: 1rem"></i></h6>
          </div>
          <div class="card_content">
            <div class="image"><img src="assets\michael-dam.jpg"></div> 
            
          </div>
          <h6>{{data.address}}</h6>
          <div><button class="btn btn-primary">View Orders</button></div>
            
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card_header">
            <h6>{{data.name}}<i class="pi pi-external-link" style="font-size: 1rem"></i></h6>
          </div>
          <div class="card_content">
            <div class="image"><img src="assets\michael-dam.jpg"></div> 
            
          </div>
          <h6>{{data.address}}</h6>
          <div><button class="btn btn-primary">View Orders</button></div>
            
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card_header">
            <h6>{{data.name}}<i class="pi pi-external-link" style="font-size: 1rem"></i></h6>
          </div>
          <div class="card_content">
            <div class="image"><img src="assets\michael-dam.jpg"></div> 
            
          </div>
          <h6>{{data.address}}</h6>
          <div><button class="btn btn-primary">View Orders</button></div> 
        </div>
      </div>
    </div>
  </td>
  </tr>
  </div>

























<!-- <div class="cardview">
     <mat-grid-list cols="6" rowHeight="130px"  gutterSize="40px">
        <mat-grid-tile>
           <mat-card-header>
            <div class="card_hedaer">
                <h6 class="pName">John Duglus</h6>
                <i class="pi pi-external-link" style="font-size: 1rem"></i> 
            </div> 
           </mat-card-header>
      <div class="card_hedaer">
                    <h6 class="pName">John Duglus</h6>
                    <i class="pi pi-external-link" style="font-size: 1rem"></i> 
                </div>  -->
                <!-- <mat-card-content>
                    <img src="assets\michael-dam.jpg">  
                </mat-card-content>                         
                     
        </mat-grid-tile>  -->
        
                
        <!-- <mat-grid-tile>
            <div class="card_hedaer"> 
                <h6 class="pName">John Duglus</h6><i class="pi pi-external-link" style="font-size: 1rem"></i>              
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="card_hedaer">
                <h6 class="pName">John Duglus</h6><i class="pi pi-external-link" style="font-size: 1rem"></i>               
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="card_hedaer"> 
                <h6 class="pName">John Duglus</h6><i class="pi pi-external-link" style="font-size: 1rem"></i>              
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="card_hedaer">
                <h6 class="pName">John Duglus</h6><i class="pi pi-external-link" style="font-size: 1rem"></i>               
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="card_hedaer"> 
                <h6 class="pName">John Duglus</h6><i class="pi pi-external-link" style="font-size: 1rem"></i>              
            </div>
            <br>
            <div class="pImage">
              <img src="assets\michael-dam.jpg">      
            </div> -->
                      
        <!-- </mat-grid-tile>
      </mat-grid-list>
</div> --> 
<!-- <img src="assets\michael-dam.jpg">     -->
<!-- <div class="cardveiw">
    <tr *ngFor="let item of allCustomersData">
        <td>
    <div class="container text-center">
        <div class="row">
          <div class="col">
           <div class="card">
            <div class="cardheader">
                <img src="assets\clay-elliot-mpDV4xaFP8c-unsplash.jpg">
                <i class="pi pi-external-link" style="font-size: 1rem"></i>
            </div>
            <h6 class="pname">{{item.name}}</h6><span>{{item.address}}</span>
            <button class="orderbtn" >Orders</button>
           </div>
          </div>
          <div class="col">
            <div class="card">
                <div class="cardheader">
                    <img src="assets\clay-elliot-mpDV4xaFP8c-unsplash.jpg">
                    <i class="pi pi-external-link" style="font-size: 1rem"></i>
                </div>
                <h6 class="pname">{{item.name}}</h6><span>{{item.address}}</span>
                <button class="orderbtn" >Orders</button>
               </div>
          </div>
          <div class="col">
            <div class="card">
                <div class="cardheader">
                    <img src="assets\clay-elliot-mpDV4xaFP8c-unsplash.jpg">
                    <i class="pi pi-external-link" style="font-size: 1rem"></i>
                </div>
                <h6 class="pname">{{item.name}}</h6><span>{{item.address}}</span>
            <button class="orderbtn" >Orders</button>
               </div>
          </div>
          <div class="col">
            <div class="card">
                <div class="cardheader">
                    <img src="assets\clay-elliot-mpDV4xaFP8c-unsplash.jpg">
                    <i class="pi pi-external-link" style="font-size: 1rem"></i>
                </div>
                <h6 class="pname">{{item.name}}</h6><span>{{item.address}}</span>
            <button class="orderbtn" >Orders</button>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="cardheader">
                    <img src="assets\clay-elliot-mpDV4xaFP8c-unsplash.jpg">
                    <i class="pi pi-external-link" style="font-size: 1rem"></i>
                </div>
                <h6 class="pname">{{item.name}}</h6><span>{{item.address}}</span>           
            <button class="orderbtn" >Orders</button>
            </div>
        </div>
        </div>
      </div>
    </td>
    </tr>

</div> -->
